.focus__base{
    overflow: hidden;
}
.focus__base.blur-effect::before{
    right:0;
    top: 0;
    width: 100px;
    height: 120px;
    margin-right: -5%;
}

.focus__base .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}


.focus__base .bases__container .base{
    display: flex;
    gap: 20px;
    max-width: 400px;
    margin: 20px 0;
}

.focus__base .bases__container .base .icon__container{
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    font-size: 20px;
}
.focus__base .bases__container .base:hover .icon__container{
    transform: scale(1.2);
}


.focus__base .image__container{
    max-width:400px;
    border-radius: var(--radius-5);
    overflow: hidden;
    aspect-ratio: 1/1;
}


@media (max-width:900px){
    .focus__base .row{
        flex-direction: column;
    }
}