#about-us .about__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 30px 0;
}
#about-us .about__cards .about__card {
    padding: 20px;
}
#about-us .about__cards .about__card *{
    text-align: center;
}
#about-us .about__cards .about__card .icon__container{
    margin: auto;
    margin-bottom: 20px;
    width: 3rem;
    height: 3rem;
}

#about-us .about__cards .about__card .icon__container{
    font-size: 18px;
}
#about-us .about__cards .about__card:hover .icon__container{
    transform: scale(1.2);
}

@media (max-width:900px){
    #about-us .about__cards{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    #about-us .about__cards .about__card {
        min-width: 400px;
        max-width: 400px;
    }
}

@media (max-width:500px){
    #about-us .about__cards .about__card {
        min-width: auto;
        max-width: 100%;
    }
}