#why-choose-us .why__choose__us__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px 0;
}
#why-choose-us .why__choose__us__container .choose__us__card{
    border: var(--gray-border);
    padding: 20px;
}
#why-choose-us .why__choose__us__container .choose__us__card .icon__container {
    margin-bottom: 30px;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 18px;
}
#why-choose-us .why__choose__us__container .choose__us__card:hover .icon__container{
    transform: scale(1.2);
}
#why-choose-us .why__choose__us__container .choose__us__card .name{
    margin-bottom: 15px;
}



@media (max-width:900px){
    #why-choose-us .why__choose__us__container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    #why-choose-us .why__choose__us__container .choose__us__card {
        min-width: 400px;
        max-width: 400px;
    }
}

@media (max-width:500px){
    #why-choose-us .why__choose__us__container .choose__us__card {
        min-width: auto;
        max-width: 100%;
    }
}