.header *{
    text-align: center;
}


.header .header__row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.header .container .column:nth-child(2){
    flex: 1;
}

.header .container .header__image{
    width: 100%;
    max-width: 450px;
    position: relative;
    transition: var(--transition);
    opacity: 0;
    margin: auto;
}
.header .container .header__image:hover{
    transform: scale(1.2) !important;
}

.header .container .header__image::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent,var(--color-ui-primary));
}


.header .buttons__container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


@media (max-width:900px){
    .header .header__row{
        flex-direction: column;
        align-items: center;
    }
    .header .container .column:nth-child(2){
        max-width: 600px;
    }
}