#partners{
    overflow: hidden;
    white-space: nowrap;
    padding: 60px 0;
    position: relative;
}

#partners::before,
#partners::after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

#partners::before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--color-background-primary));
}
#partners::after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--color-background-primary));
}

#partners:hover .logos__slide{
    animation-play-state: paused;
}

#partners .logos__slide{
    display: inline-block;
    animation: 35s slide infinite linear;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#partners .logos__slide img{
    height: 30px;
    width: auto;
    margin: 0 40px;
    display: inline-block;
    object-fit: cover;
    filter: grayscale(100%);/* Standard */
    -webkit-filter: grayscale(100%);/* Webkit */
    filter: gray;/* IE6-9 */
    -webkit-filter: grayscale(1);/* Old webkit */
}



/* Make responsive */
@media (max-width:900px){
    #partners .logos__slide img{
        height: 20px;
        margin: 0 20px;
    }
}