:root{
  --color-primary:orangered;
  --color-primary-accent:orange;
  --color-white:#ffffff; 
  --color-text:#111111;
  --color-muted: #7d7d82;
  --radius-1:4px;
  --radius-2:0.8rem;
  --radius-3:1.2rem;
  --radius-4:2rem;
  --radius-5:100%;
  --transition:all 400ms ease;
  --color-text:#FFFFFF;
  --color-ui-primary: #0A0A0C;
  --color-ui-secondary: #171719;
  --color-ui-variant: #1b1b1e;
  --gray-border:1px solid rgba(89, 88, 88, 0.633);
  --gradient-1:linear-gradient(to right, var(--color-primary) 0%, var(--color-primary-accent) 100%);
  --gradient-2:linear-gradient(190deg,var(--color-primary) 0%,rgba(183, 0, 255, 0.5) 100%);
  --primary-glow: radial-gradient(rgba(255, 69, 0,0.1) 0%, rgba(0, 0, 0,0.5));
}